#contactPage {
    min-height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 60rem;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contactPagetitle {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.clientDesc {
font-weight: 300;
font-size: 1rem;
}

.clientImgs {
    margin: 1rem 0;
    display: flex;
    flex-wrap: wrap;
}

.clientImg {
    object-fit: contain;
    width: 23%; 
    height: 12rem; 
    min-width: 9rem;
    margin: auto;
    padding: 0.5rem; 
    border: none; 
    border-radius: 0.5rem; 
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
}


#clients {
    padding: 2rem;
}

.contactDesc {
    padding: 1rem;
    font-size: medium;
    font-weight: 300;
}

.contactForm {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90vw;
    max-width: 60rem;
}

.name, .email, .msg {
    font-size: medium;
    width: 100%;
    max-width: 40rem;
    margin: 0.5rem;
    padding: 0.5rem 1rem; 
    /* top and bot 0.5 och sidorna 1rem, när man 
    skriver i formen så börjar den inte längst ut */
    color: white;
    border: none;
    border-radius: 0.5rem;
    background: rgb(40, 40, 40);
}

.submitBtn {
    background: linear-gradient(to right, #87772b, #f9d423); /* Gradient background */
    color: white; /* Text color */
    border: none;
    border-radius: 1rem; /* Reduced border radius */
    margin: 2rem;
    padding: 0.5rem 2rem; /* Reduced padding */
    font-size: 0.9rem; /* Reduced font size */
    font-weight: bold; /* Font weight */
    cursor: pointer; /* Cursor on hover */
    transition: background 0.3s ease; /* Smooth background transition */
}

.submitBtn:hover {
    background: linear-gradient(to right, #ff4e50, #f9d423); /* Gradient background on hover */
}

.submitBtn:focus {
    outline: none; /* Remove focus outline */
}


.links {
display: flex;
flex-wrap: wrap;
}

.link {
    object-fit: cover;
    height: 3rem;
    width: 3rem;
    margin: 0 0.75rem;
}
